<ion-view title="launch" id="launch">
  <ion-content padding="true">
    <div class="spacer" style="width: 100%; height: 3em;"></div>
    <div class="outer-container">
      <div class="inner-container">
        <ul class="launch-buttons">
          <li>
            <button class="" ng-click="join()">Join</button>
          </li>
          <li>
            <button class="" ng-click="hostGame()">Host</button>
          </li>
        </ul>
      </div>
    </div>
    <div id="animate">
    </div>
    <button id="bottom-button" ng-click="back()">Back</button>
  </ion-content>
</ion-view>
